.title{
    font-family: PPHatton;
    font-weight: 200;
    line-height: 1.2;

    &--small{
        font-family: PPCharlevoix;
        font-weight: regular;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: .15rem;
    }
  
    &--big{
      font-size: 49px;
      text-transform: uppercase;
      text-align: center;

      @media (min-width: 990px){
        font-size: 61px;
        text-align: left;
      }
    }
  
    &--who{
      font-size: 61px;
    }
  
    &--huge{
      font-size: 49px;
      text-transform: uppercase;
      background: linear-gradient(180deg, #ECD5A3 25.69%, rgba(253, 253, 253, 0.00) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-bottom: 64px;

      @media (min-width: 370px){
        font-size: 61px;
      }
  
      @media (min-width: 990px){
        font-size: 144px;
      }
    }

    

    &--nomargin{
      margin-bottom: 0;
    }


    &--left{
      @media (min-width: 992px){
        position: absolute;
        top: -80px;
        left: 8px;
        z-index: 1;
        touch-action: none;
        user-select: none;
        pointer-events: none;
      }
      @media (min-width: 1200px){
        left: calc((100vw - 1200px) / 2 - 8px);
      }
    }
    &--right{
      @media (min-width: 992px){
        position: absolute;
        top: -96px;
        right: 16px;
        z-index: 1;
        touch-action: none;
        user-select: none;
        pointer-events: none;
      }
      @media (min-width: 1200px){
        right: calc((100vw - 1200px) / 2);
      }
    }
  }